[google_sheets]
spreadsheet_id = "PEGA_AQUI_EL_ID_DE_TU_GOOGLE_SHEET"
worksheet_name = "Comparativas"

[gcp_service_account]
type = "service_account"
project_id = "tu-proyecto"
private_key_id = "tu-private-key-id"
private_key = "-----BEGIN PRIVATE KEY-----\nTU_CLAVE_PRIVADA\n-----END PRIVATE KEY-----\n"
client_email = "tu-cuenta-de-servicio@tu-proyecto.iam.gserviceaccount.com"
client_id = "tu-client-id"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "tu-url-de-certificado"
universe_domain = "googleapis.com"
